<div class="container-table">
  <table>
    <thead>
      <tr>
        <th *ngFor="let column of getColumns()">{{ column }}</th>
      </tr>
    </thead>
    <tbody *ngIf="students.length > 1">
      <!-- <tr
        *ngFor="
          let rowValues of getRows()
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <td *ngFor="let row of rowValues">{{ row }}</td>
      </tr> -->
      <tr
        *ngFor="
          let student of students
            | slice : (page - 1) * pageSize : page * pageSize
        "
      >
        <td *ngFor="let column of getColumns()">
          <ng-container *ngIf="column === 'Presença'; else normalCell">
            <button
              class="container-table__button left"
              [class.container-table__button--absent]="!student[column]"
              (click)="changePresence(student, false)">
              não
            </button>
            <button
              class="container-table__button right"
              [class.container-table__button--present]="student[column]"
              (click)="changePresence(student, true)">
              sim
            </button>
          </ng-container>
          <ng-template #normalCell>{{ student[column] }}</ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="students.length <= 1" class="container-table__empty">
    <p>Realize o filtro para registrar a presença dos alunos</p>
  </div>
</div>
