/* You can add global styles to this file, and also import other style files */
$background-color: #fff3e3;
$color-white: #ffffff;
$color-orange-primary: #F18900;
$color-gray-primary: #9197B3;
$color-gray-secondary: #F9FBFF;
$color-gray-medium: #7E7E7E;

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// html, body {
// }

staff-mack-presence-control-page, staff-mack-report-page {
  background-color: $background-color;
  width: 100%;
  padding: 40px 32px;
}

staff-mack-filter {
  width: inherit;
}