<div class="container-presence-control">
    <div class="container-presence-control__greetings">
        <h1 class="container-presence-control__greetings--text">Olá professor 👋🏼,</h1>
    </div>

    <div class="container-presence-control__box">
        <div class="container-presence-control__content">
            <div class="container-presence-control__text">
                <h2 class="container-presence-control__text--title">Controle de presença</h2>
                <!-- <p class="container-presence-control__text--description">Selecione a turma e a data para visualizar a presença dos alunos.</p> -->
            </div>
            <staff-mack-filter [filters]="filters"></staff-mack-filter>
        </div>
        <div class="container-presence-table">
            <staff-mack-table [students]="students" [page]="page" [pageSize]="pageSize"></staff-mack-table>
            <staff-mack-pagination
            *ngIf="students.length > 1"
              [page]="page"
              [totalPages]="totalPages"
              [pageNumbers]="pageNumbers"
              (pageChange)="page = $event"
            ></staff-mack-pagination>
        </div>
    </div>
</div>